:root {
    --body: #c6a9a3;
    --primary-color: #2f8d66;
    --link-hover-color: #000000;
    --button-color: #489c79;
    --button-text: #ffffff;
    --light-grey: #e7e6e1;
    --line-height: normal;
}

/*---OVERALL LAYOUT---*/

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body);
    font-family: 'Open Sans',sans-serif;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 3px;
    border-bottom: 1px dashed;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

a {
    text-decoration: none;
    line-height: var(--line-height);
    color: var(--primary-color);
}
  
  a:hover, a:focus {
    text-decoration: none;
    color: var(--link-hover-color);
}

button, .button {
    border: none;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--button-text);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
    color: var(--button-text);
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
}

.footer__img:hover, .footer__img:focus {
    opacity: 0.8;
}

/*---INDEX PAGE----*/

main {
    min-height: calc(100vh - 100px - 150px);
    display: flex;
    align-items: center;
}

h1 {
    line-height: 13%;
}

p {
    font-size: 20px;
    line-height: var(--line-height);
}

.profile, .section-about, .animation-svg  {
    max-width: 700px;
    margin: 0 auto; /*centers the container*/
    text-align: justify;
}

.profile__picture {
    float: left;
    margin-right: 1.5rem;
    border-radius: 50%; /*turns image to circle*/
}

/*---ABOUT PAGE---*/

.table-experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid #000000;
}

.thebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
}

/*---WORK PAGE---*/

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
   }
   /* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }
    
    .grid__item {
        background-color: var(--light-grey);
        width: auto;
        min-height: auto;
        margin: 0;
        border: 3px solid;
        border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
        font-family: 'Courier New', monospace;
    }
}

/*---KEYFRAME ANIMATIONS---*/

@keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/*---MEDIA QUERIES---*/

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}